<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<variable name="defaultLayout" value="${longdate}|${level}|${message:withException=true}" />

	<extensions>
		<add assemlby="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="allFile" xsi:type="File" fileName="C:\tmp\logger\log-${shortdate}.txt" layout="${defaultLayout}" />
		<target name="exceptions" xsi:type="File" fileName="C:\tmp\logger\log-exp-${shortdate}.txt" layout="${defaultLayout}" />
		<target name="long" xsi:type="File" fileName="C:\tmp\logger\log-request-time-${shortdate}.txt" layout="${defaultLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allFile" />
		<logger name="RestaurantAPI_ASP.NET_Core.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantAPI_ASP.NET_Core.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="long" />
	</rules>
</nlog>